<mat-toolbar class="sticky-toolbar">
  <a class="logo-link" [routerLink]="routerTokens.home">
    <div class="logo">
      <span class="mat-title">Rimaz Mohommed</span>
      <span class="mat-caption">Full Stack Developer • DevOps Engineer</span>
    </div>
  </a>
  <span class="header-spacer"></span>
  <button mat-icon-button aria-label="menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  @if (isDark) {
    <button mat-icon-button aria-label="light mode icon" (click)="setLightMode()">
      <mat-icon>light_mode</mat-icon>
    </button>
  } @else {
    <button mat-icon-button aria-label="dark mode icon" (click)="setDarkMode()">
      <mat-icon>dark_mode</mat-icon>
    </button>
  }
</mat-toolbar>
