<mat-card class="hero__card">
  <rmz-page-title title="Behind The Code" />
  <div class="hero__container">
    <div class="hero__avatar-container">
      <img mat-card-avatar class="hero__avatar" [src]="profileImageUrl" alt="Rimaz Mohommed" />
    </div>

    <div class="hero__info">
      <h2 class="mat-h2">
        I specialize as a full-stack developer implementing & deploying web and mobile apps using
        .NET, Angular, React, Vue, Flutter, Terraform, Azure Cloud technologies & Azure Devops.
      </h2>
      <h2 class="mat-h2">
        Outside of work, I enjoy working out at the gym, reading novels, Netflix, and improving my
        acoustic guitar skills.
      </h2>
      <button
        mat-raised-button
        class="hero__download-button"
        (click)="browserUtilsService.openLink(downloadResumeUrl)">
        <mat-icon>cloud_download</mat-icon>Download Resume
      </button>
    </div>
  </div>
</mat-card>
<rmz-page-title title="Open Source Projects" />
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>code_blocks</mat-icon>
      <h3 class="mat-h3">Clean Lean Architecture Solution Template</h3>
      <p><a href="https://github.com/your-repo-link">View on github</a></p>
      <p class="mat-body-1">
        Implemented a .NET Core template to expedite the process of swiftly establishing a .NET Core
        Web API project that adheres to clean architecture principles. This template includes
        features like Mediatr pipeline for logging, error handling, FluentValidation for api inputs,
        API integration with a 3rd party using HttpClient & Polly for retries, Efcore Sql Server
        implementation with localdb, and an .editorconfig file for consistent code styles. You can
        install this package from
        <a
          target="_blank"
          rel="noreferrer"
          href="https://www.nuget.org/packages/Clean.Lean.Architecture.WebApi.AspNetCore.Solution.Template/">
          nuget.org
        </a>
        .
      </p>
    </div>
  </div>
</mat-card>
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>code_blocks</mat-icon>
      <h3 class="mat-h3">Blog Website</h3>
      <p><a href="https://github.com/your-repo-link">View on github</a></p>
      <p class="mat-body-1">
        My public developer blog website repository, which is a monorepo housing various components:
        a frontend ReactJS single-page application (SPA), a web API backend developed with dotnet
        core and the clean architecture pattern, and infrastructure as code (IAC) using Terraform
        for site setup. The website is accessible at
        <a target="_blank" rel="noreferrer" href="https://rimaz.dev"> rimaz.dev </a>
      </p>
    </div>
  </div>
</mat-card>
<rmz-page-title title="Professional Experience" />
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>work</mat-icon>
      <h3 class="mat-h3">Nib</h3>
      <p>Apr 2024 - Present</p>
      <p class="mat-body-1">
        Senior developer in the orbit platform working with .NET framework, Angular, terraform,
        Azure and related Microsoft technologies
      </p>
    </div>
  </div>
</mat-card>
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>work</mat-icon>
      <h3 class="mat-h3">Statistics New Zealand</h3>
      <p>Oct 2022 - Apr 2024</p>
      <p class="mat-body-1">
        Developed a comprehensive integration solution utilizing .NET 6.0 with Azure functions
        featuring HTTP and Queue triggers to efficiently handle and process large data payloads, and
        a .NET framework 4.8 Web API, both designed using clean architecture pattern, to manage
        Blaise survey operations & 3rd party integrations. DevOps pipelines were implemented to
        automate the building and deployment of the web API & function apps. Infrastructure as code
        was also incorporated using Terraform to manage the function apps, Web APIs, Queue/Table
        Storage, and Azure APIMs.
      </p>
    </div>
  </div>
</mat-card>
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>work</mat-icon>
      <h3 class="mat-h3">Intergen</h3>
      <p>Jan 2019 - Oct 2022</p>
      <p class="mat-body-1">
        Although my official title was Full-Stack Developer, my role involved a blend of DevOps and
        Dev functions, including setting up infrastructure and deployment pipelines. I seamlessly
        integrated development and operations workflows to optimize the end-to-end software
        development lifecycle.
      </p>
    </div>
  </div>
</mat-card>
<mat-card class="details__card">
  <div class="details__container">
    <div class="details__info">
      <mat-icon>work</mat-icon>
      <h3 class="mat-h3">OrangeHRM</h3>
      <p>Feb 2014 - Jan 2019</p>
      <p class="mat-body-1">
        Spearheaded the implementation & design to make the product GDPR compliant for our European
        clients. Integrated the Time module with Toggl to provide a seamless user experience for our
        clients who use Toggl for time tracking. Improved product security emphatically against
        numerous vulnerabilities. Standardized the development process for Open Source. Senior
        Software Engineer in the Customizations Department.
      </p>
    </div>
  </div>
</mat-card>
