.header-spacer {
  flex: 1 1 auto;
}

.logo span {
  display: block;
  text-align: left;
}

span.title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}
