@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-on-primary-fixed-variant),
      container-text-color: #ffffff,
    )
  );
}

mat-icon {
  @include mat.icon-overrides(
    (
      color: #ffffff,
    )
  );
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the toolbar is above other content */
}

.header-spacer {
  flex: 1 1 auto;
}

.logo span {
  display: block;
  text-align: left;
}

span.mat-caption {
  text-transform: uppercase;
}
