<mat-card
  class="selectable-card"
  appearance="outlined"
  (click)="openArticleLink(articlePreview().url, articlePreview().slug)">
  <img
    class="card-image"
    mat-card-image
    [src]="cdnUrl + articlePreview().image"
    [alt]="articlePreview().title" />

  <mat-card-header>
    <mat-card-title>
      {{ articlePreview().title }}
    </mat-card-title>
    <mat-card-subtitle>{{ articlePreview().publishedDate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      {{ articlePreview().content }}
    </p>
  </mat-card-content>
</mat-card>
