@use 'styles.scss';

:host {
  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;

    .contact__form-field {
      width: 300px;

      @media (min-width: 600px) {
        // iPad (portrait and up)
        width: 600px;
      }
    }

    .contact__form-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        min-width: 150px;
      }
    }
  }
  .screen__loading {
    position: fixed; /* Sticks to viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Use flexbox to center */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent overlay */
    z-index: 1000; /* Ensure it's above everything */
  }
}

:host-context(html.dark-mode) {
  .screen__loading {
    background: rgba(0, 0, 0, 0.6);
  }
}
