<rmz-page-title title="Get In Touch" />
<div class="contact__container">
  <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline" class="contact__form-field">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          type="text"
          id="name"
          name="name" />
        @if (contactForm.controls.name.hasError('required')) {
          <mat-error>{{ validationMessages.required }}</mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="contact__form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
          id="email"
          name="email" />
        @if (
          contactForm.controls.email.hasError('email') &&
          !contactForm.controls.email.hasError('required')
        ) {
          <mat-error>{{ validationMessages.email }}</mat-error>
        }
        @if (contactForm.controls.email.hasError('required')) {
          <mat-error>{{ validationMessages.required }}</mat-error>
        }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="contact__form-field">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          placeholder="Message"
          formControlName="content"
          id="content"
          name="content"
          rows="5"></textarea>
        @if (contactForm.controls.content.hasError('required')) {
          <mat-error>{{ validationMessages.required }}</mat-error>
        }
      </mat-form-field>
    </p>
    <p class="contact__form-actions">
      <button type="submit" mat-raised-button matButton="outlined">{{ buttonTexts.send }}</button>
    </p>
  </form>
</div>
@if (status() === operationStatus.loading) {
  <div class="screen__loading">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
}
