:host {
  .side-nav {
    opacity: 0.9;
    position: fixed;
    top: 55px;
    bottom: 0;
    height: 100%;

    @media (min-width: 600px) {
      // iPad (portrait and up)
      top: 65px;
    }

    .side-nav-list {
      padding-top: 40px;

      .side-nav-divider {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .side-nav-item {
        padding-top: 20px;
        padding-bottom: 20px;

        .menu-button {
          width: 100%;
          border-radius: 8px;
          margin-top: 25px;
          margin-bottom: 25px;
          padding-left: 25%;
          justify-content: left;
          box-shadow: none;

          &.active-link {
            border: 2px solid var(--mat-sys-primary);
          }
        }

        .avatar-container {
          display: flex;
          align-items: center;
          padding-left: 30px;

          .avatar {
            width: 50px;
            height: 25px;
          }
          .greeting {
            font-weight: 500;
          }
        }
      }
    }
  }

  .sidenav__content {
    overflow: hidden;
  }
}
