<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'over'" position="end" [fixedTopGap]="500" class="side-nav">
    <mat-list>
      <mat-list-item class="side-nav-item"
        ><button
          mat-raised-button
          class="menu-button"
          [routerLink]="routerTokens.home"
          (click)="closeSidenav()">
          <mat-icon>home</mat-icon> Home
        </button></mat-list-item
      >
      <mat-list-item class="side-nav-item"
        ><button
          mat-raised-button
          class="menu-button"
          [routerLink]="routerTokens.articles"
          (click)="closeSidenav()">
          <mat-icon>description</mat-icon>Articles
        </button></mat-list-item
      >
      <mat-list-item class="side-nav-item"
        ><button
          mat-raised-button
          class="menu-button"
          [routerLink]="routerTokens.about"
          (click)="closeSidenav()">
          <mat-icon>account_circle</mat-icon>About
        </button></mat-list-item
      >
      <mat-list-item class="side-nav-item"
        ><button
          mat-raised-button
          class="menu-button"
          [routerLink]="routerTokens.contact"
          (click)="closeSidenav()">
          <mat-icon>email</mat-icon>Contact
        </button></mat-list-item
      >
      <mat-list-item class="side-nav-item"
        ><button
          mat-raised-button
          class="menu-button"
          (click)="browserUtilsService.openLink(githubReportIssueUrl, true)">
          <mat-icon>report_problem</mat-icon>Report an Issue
        </button></mat-list-item
      >

      @if (isDark) {
        <mat-list-item class="side-nav-item"
          ><button mat-raised-button class="menu-button" (click)="setLightMode()">
            <mat-icon>light_mode</mat-icon>Light Mode
          </button></mat-list-item
        >
      } @else {
        <mat-list-item class="side-nav-item"
          ><button mat-raised-button class="menu-button" (click)="setDarkMode()">
            <mat-icon>dark_mode</mat-icon>Dark Mode
          </button></mat-list-item
        >
      }
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
