@use 'app/shared/scss/normalize';
@use 'app/shared/scss/theme/theme-colors' as rmz-theme;
@use '@angular/material' as mat;

@include mat.core(); // required for theming

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: rmz-theme.$primary-palette,
        tertiary: rmz-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
}

// Apply the default typography config
@include mat.all-component-typographies();

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
