@use '@angular/material' as mat;

@include mat.core(); // required for theming

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

// Apply the default typography config
@include mat.all-component-typographies();

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
