.hero-container {
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  position: relative;
  border-radius: var(--mat-sys-corner-none);
}
